<div class="fadedInfo">
  <svg xmlns="http://www.w3.org/2000/svg" width="148" height="88.526" viewBox="0 0 148 88.526">
    <defs>
      <style>
        .cls-1 {
          fill: hsl(210, 71%, 96%);
        }

        .cls-2 {
          fill: #9697d9;
        }

        .cls-3, .cls-6 {
          fill: none;
        }

        .cls-3, .cls-4 {
          stroke: #9697d9;
        }

        .cls-4 {
          fill: #fff;
        }

        .cls-5 {
          stroke: none;
        }
      </style>
    </defs>
    <g id="Group_6" data-name="Group 6" transform="translate(-50 -693)">
      <g id="Group_2" data-name="Group 2" transform="translate(92 723.5)">
        <rect id="Rectangle_4" data-name="Rectangle 4" class="cls-1" width="72" height="19" rx="9.5" transform="translate(-27 -24.5)"/>
        <rect id="Rectangle_3" data-name="Rectangle 3" class="cls-1" width="72" height="19" rx="9.5" transform="translate(24 5.5)"/>
        <rect id="Rectangle_1" data-name="Rectangle 1" class="cls-1" width="36" height="12" rx="6" transform="translate(-30 31.5)"/>
        <rect id="Rectangle_2" data-name="Rectangle 2" class="cls-1" width="72" height="12" rx="6" transform="translate(34 44.5)"/>
        <path id="Combined_Shape" data-name="Combined Shape" class="cls-2" d="M3.762,7.288A6.543,6.543,0,0,0,5.525,11.05,6.543,6.543,0,0,0,7.288,7.288,6.543,6.543,0,0,0,11.05,5.525,6.543,6.543,0,0,0,7.288,3.762,6.543,6.543,0,0,0,5.525,0,6.543,6.543,0,0,0,3.762,3.762,6.543,6.543,0,0,0,0,5.525,6.543,6.543,0,0,0,3.762,7.288Z" transform="matrix(0.891, -0.454, 0.454, 0.891, 74.592, 3.398)"/>
        <path id="Combined_Shape-2" data-name="Combined Shape" class="cls-2" d="M4.443,8.607A7.727,7.727,0,0,0,6.525,13.05,7.727,7.727,0,0,0,8.607,8.607,7.727,7.727,0,0,0,13.05,6.525,7.727,7.727,0,0,0,8.607,4.443,7.727,7.727,0,0,0,6.525,0,7.727,7.727,0,0,0,4.443,4.443,7.727,7.727,0,0,0,0,6.525,7.727,7.727,0,0,0,4.443,8.607Z" transform="matrix(0.891, -0.454, 0.454, 0.891, -38.408, 46.398)"/>
        <path id="Combined_Shape-3" data-name="Combined Shape" class="cls-2" d="M5.124,9.926a8.911,8.911,0,0,0,2.4,5.124,8.911,8.911,0,0,0,2.4-5.124,8.911,8.911,0,0,0,5.124-2.4,8.911,8.911,0,0,0-5.124-2.4A8.911,8.911,0,0,0,7.525,0a8.911,8.911,0,0,0-2.4,5.124A8.911,8.911,0,0,0,0,7.525a8.911,8.911,0,0,0,5.124,2.4Z" transform="matrix(0.891, -0.454, 0.454, 0.891, -9.408, -23.602)"/>
        <circle id="Ellipse_1" data-name="Ellipse 1" class="cls-2" cx="4" cy="4" r="4" transform="translate(-42 0.5)"/>
        <g id="Ellipse_2" data-name="Ellipse 2" class="cls-3" transform="translate(34 -19.5)">
          <circle class="cls-5" cx="4" cy="4" r="4"/>
          <circle class="cls-6" cx="4" cy="4" r="3.5"/>
        </g>
        <circle id="Ellipse_3" data-name="Ellipse 3" class="cls-2" cx="4" cy="4" r="4" transform="translate(74 -30.5)"/>
        <g id="Ellipse_4" data-name="Ellipse 4" class="cls-3" transform="translate(-12 17.5)">
          <circle class="cls-5" cx="4" cy="4" r="4"/>
          <circle class="cls-6" cx="4" cy="4" r="3.5"/>
        </g>
        <g id="Group_2-2" data-name="Group 2" transform="translate(8 -4)">
          <line id="Line_1" data-name="Line 1" class="cls-3" x2="8" transform="translate(79.5 34)"/>
          <line id="Line_2" data-name="Line 2" class="cls-3" y2="8" transform="translate(83.5 30)"/>
        </g>
        <g id="Ellipse_5" data-name="Ellipse 5" class="cls-3" transform="translate(75 47.5)">
          <circle class="cls-5" cx="4" cy="4" r="4"/>
          <circle class="cls-6" cx="4" cy="4" r="3.5"/>
        </g>
      </g>
      <g id="Group_5" data-name="Group 5" transform="translate(98 733.5)">
        <g id="Ellipse_7" data-name="Ellipse 7" class="cls-4" transform="translate(4 -15.5)">
          <circle class="cls-5" cx="19" cy="19" r="19"/>
          <circle class="cls-6" cx="19" cy="19" r="18.5"/>
        </g>
        <circle id="Ellipse_8" data-name="Ellipse 8" class="cls-2" cx="2.5" cy="2.5" r="2.5" transform="translate(13 -4.5)"/>
        <circle id="Ellipse_9" data-name="Ellipse 9" class="cls-2" cx="2.5" cy="2.5" r="2.5" transform="translate(28 -4.5)"/>
        <path id="Path_16" data-name="Path 16" class="cls-3" d="M0,0S2.11,5.891,10.595,5.869,20.567,0,20.567,0" transform="translate(13.037 10.364)"/>
      </g>
    </g>
  </svg>


  <span class="title">{{title ? title : 'Ooops!'}}</span>
  <span class="text">{{text ? text : 'No data found!'}}</span>
</div>

