@import "./assets/scss/variables.scss";

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: $btn-primary-color;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #3f73a6;
  border-color: #3f73a6;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
