::ng-deep .search-box {
  width: 25rem;
  margin: 0 auto;

  &.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 24px 0 0 24px;
    min-width: 24px;
  }

  &.mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 24px 24px 0;
  }

  &.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
  }
}
