$border-color: hsl(0, 0, 98);

.level-card-wrapper {
  max-width: 32rem;
  padding: 1rem 1rem 0;
  border-radius: 6px;
  color: hsl(0, 0, 50);
  box-shadow: 0 15px 32px 0px hsl(0, 0%, 92%);

  .date-achieved {
    background-color: hsl(200, 10, 92);
    padding: 3px 5px 2px;
    font-size: 0.775rem;
    border-radius: 10px;
  }
}


/* The actual content */
.content {
  padding: 16px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  margin-bottom: 1.2rem;
}

.severity-type--label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 8px 2px 6px;
  margin-bottom: 6px;
  border-radius: 9px;
  font-size: 13px;

  &.type-1 {
    background-color: hsl(0, 75%, 95%);
    color: hsl(0, 75%, 50%);
  }

  &.type-2 {
    background-color: hsl(5, 76%, 95%);
    color: hsl(5, 75%, 50%);
  }

  &.type-3 {
    background-color: hsl(37, 76%, 95%);
    color: hsl(31, 100%, 58%);
  }

  &.type-4 {
    background-color: hsl(136, 50%, 94%);
    color: hsl(140, 70%, 44%);
  }
}

.message-title{
  color: hsl(0, 0%, 40%);
  font-weight: 500;
  margin-top: 4px;
}

.message-description{
  overflow: auto;
  color: hsl(0, 0%, 75%);
  height: 6.5rem;
  font-size: 15px;
}
